<script>
    $(document).ready(function () {
        loadInfCompany()
        function loadInfCompany() {
            $(".layout").css('display', 'block')
            $.ajax({
                url: '/get-inf-company',
                async: true,
                type: 'GET',
                dataType: "json",
                encode: true,
                responseType: 'application/json'
            }).done(function (data) {

                $(".time-bussiness").html(data.businessTime)
                $(".about-company").html(data.about)
                $(".address").html('<i class="fas fa-map-marker-alt"></i>' + 'Địa chỉ: ' + data.address)
                $(".phone").html('<i class="fas fa-phone-square"></i>' + 'Số điện thoại: ' + data.phone)
                $(".email").html('<i class="fas fa-envelope"></i>' + 'Email: ' + data.email)
            })
        }
    })
</script>

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>Gửi đánh giá cho tôi</h2>
                    <p>Gửi nội dung của bạn muốn góp ý cho tôi, rất mong được bạn đánh giá</p>
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Tên của bạn" required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Email của bạn" id="email" class="form-control"
                                        name="name" required data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="name"
                                        placeholder="Tiêu đề" required data-error="Please enter your Subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Nội dung" rows="4"
                                        data-error="Write your message" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Gửi cho chúng tôi</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>Thông tin khác</h2>
                    <p class="about-company"></p>
                    <ul>
                        <li>
                            <p class="address"><i class="fas fa-map-marker-alt"></i> </p>
                        </li>
                        <li>
                            <p class="phone"></a>
                            </p>
                        </li>
                        <li>
                            <p class="email"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->